.vs
/COMP371_RaytracerBase/code/.vs

/COMP371_RaytracerBase/code/out
/AssignmentTemplates/Assignment1/code/out
/COMP371_RaytracerBase/code/.vs
/COMP371_RaytracerBase/code/build
/AssignmentTemplates/Assignment1/code/build
/COMP371_RaytracerBase/code/.vs
/Lab_capsules/capsule1/code/out/build
/AssignmentTemplates/Assignment1/code/assets
/Lab_capsules/capsule2
/Lab_capsules/capsule3
/AssignmentTemplates/Assignment2/code/out
/AssignmentTemplates/Assignment2/code/build
